.product {
    width: 280px;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    background: #fff;
    margin: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product > img{
    height: 170px;
    border-radius: 8px;
}

.product__info > a {
    text-decoration: none;
}

.product__info > p {
    padding-bottom: 8px;
    margin: 0;
}

.info__name {
    font-size: 1rem;
}

.info__description {
    font-size: 0.8rem;
}

.info__price {
    font-weight: bold;
}

.info__button {
    display: block;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid #171717;
    color: #171717;
    background: #fff;
}

.info__button:hover {
    color: #fff;
    background: #171717;
}

@media (max-width: 1080px) {
    .product {
        width: 280px;
    }
}

@media (max-width: 950px) {
    .product {
        width: 380px;
    }
}

@media (max-width: 830px) {
    .product {
        width: 300px;
    }
}

@media (max-width: 700px) {
    .product {
        width: 270px;
    }
}

@media (max-width: 630px) {
    .product {
        width: 430px;
    }
}

@media (max-width: 500px) {
    .product {
        width: 330px;
    }
}